
.container-header-audiovisual {
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
.container-header-audiovisual img {
   width:250px;
}
.container-header-audiovisual nav ul {
    border:1px solid #fc5700;
    border-radius:20px;
    padding: 5px;
    display:grid;
    grid-template-columns:repeat(4, 140px);
    align-content: center;
    justify-items: center;
}
.container-header-audiovisual nav ul li a{
    font-family: "Gotham-light";
    color:#f5f3f3;
    font-size:20px;
}
.container-header-audiovisual nav ul li a:hover{
    color: #fc5700;
    font-weight: bold;
}
@media (max-width:889px){
    .container-header-audiovisual {
        flex-direction: column;
        align-items: center;
    }
    .container-header-audiovisual .link-logo {
        margin-bottom: 6px;
    }
    
    .container-header-audiovisual nav ul li a{
        font-size: clamp(1em, 1.4vw, 1.4em)
    }
    
}
@media (max-width:595px) {
    .container-header-audiovisual nav ul{
        grid-template-columns:repeat(4, 80px);
    }

    .container-header-audiovisual img {
        width:200px;
     }

     .container-header-audiovisual .link-logo {
        margin-bottom: 3px;
    }
}
@media (max-width:344px) {
    .container-header-audiovisual nav ul{
        grid-template-columns: 150px;
        border: none;
        padding:0;   
    }

    .container-header-audiovisual nav ul li {
        border:1px solid #fc5700;
        border-radius:15px;
        padding:3px 10px;
        margin-top: 3px;
    }   
}

.container-colaboradores {
    max-width: 1500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px;
}
.container-colaboradores .posible {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gotham-light";
    color:#f5f3f3;
    font-size: clamp(1.3em, 2.3vw, 2.3em);
}
.container-colaboradores span {
    font-family: "Gotham-black";
    font-size: clamp(1.3em, 3.5vw, 3.5em);
}   
.container-colaboradores .grupo {
    width: clamp(500px, 80%, 1050px);
    padding: 10px;
}
.container-grupo {
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, 380px));
    justify-content:center;
    gap:20px;
    padding: 20px;
}
.container-grupo .colaborador {
    display:flex;
    justify-content: space-between;
}
.container-grupo .colaborador .fotos {
    position:relative;
    width: 165px;
    height: 180px;
}
.container-grupo .colaborador .fotos img{
    position: absolute;
    top:0px;
    left:0;
    transition: opacity 0.5s ease;
}
.container-grupo .colaborador .fotos img.foto2{
    opacity: 0;
}
.container-grupo .colaborador .fotos:hover img.foto2 {
    opacity:1;
}
.colaborador .texto {
    color:#f5f3f3;
}
.colaborador .texto  h1{
    font-family: "Gotham-black";
}
.colaborador .texto  p{
    font-family: "Gotham-light";
}    